[Unit]
Description=Collect, enrich and store network events
Wants=networking.service
After=networking.service

[Service]
ExecStart=/usr/bin/mongoosed -c /etc/mongoose/mongoose.yaml
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
RestartSec=2
Type=notify
KillSignal=SIGTERM
TimeoutStopSec=10
KillMode=control-group

[Install]
WantedBy=default.target
